* {
    font-family:'Courier New', Courier, monospace;
}

h1, h3  {
    color: #f41624;
}

#login {
    background-color: white;
}

#signup {
    background-color: #f41624;;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/* descendant selector */
.post a {
    color: purple;
    background-color: yellow;
}

/* 4 levels inside */
nav ul li a{
    color: hotpink;
}